@charset "utf-8";
ul,li,p,a{margin: 0;padding: 0;list-style: none;}
.commitment{width: 1200px;margin: 0 auto;margin-top:25px;height: 50px;	}
.commitment ul li{float: left;margin: 0 29px 0 29px;height: 50px;}
.commitment ul li:nth-of-type(1){margin-left: 10px;}
.commitment i{float: left;}
.p1{font-size: 16px;margin: 0 0 5px 50px;}
.p2{color: #999999;margin: 0 0 5px 50px;}
.time-limit{width: 1200px;margin: 25px auto;overflow: hidden;}
.time{width: 235px;height: 200px;background: #ff9988;color: #FFF;text-align: center;float: left;}
.time i{margin: 40px auto 25px;display: block;}
.time p{font-size: 24px;}
.time-limit ul {float: left;}
.time-limit ul li {float: left;border: 1px solid #e5e5e5;margin-left: -1px;}
.time-limit ul li:hover{border: 1px solid #969896;}
